#root {
  max-width: 1280px; 
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgba(0, 0, 0, 0.945);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.63);
  height: 3em;
  font-weight: bold;
  font-size: 3vh;
}

header{
  display: flex;
  background-color: black;
}

nav a {
  margin: 0 1em;
  color: white
}

.welcome-signin{
   display: flex;
   height: 50vh;
   width: 100%;
   background-image: url('');
   position: relative;
  }


.space {
  display: flex;
  background-color: gold;
  height: 6vh;
  margin-left: 0.25vh;
}

.button {
  margin-top: -18vh;
  display: flex;
  position: relative;
  margin-left: 55vh;
  border: solid rgba(128, 0, 128, 0.603) 3.5px;
  border-radius: 3px;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 3vh;
}

.buttonCss{
  color: white;
  font-weight: bold;

}

.style {
  margin-top: 12vh;
  height: 33vh;
  display: flex;
  background-color: black;
  width: 100%;
  position: relative;
}

.cateButton{
  margin-top: -15vh;
  position: relative;
  border-radius: 3px;
  background-color: black;
  font-weight: bold;
  color: white;

}

 h2 {
  font-size: 45px;
  text-align: center;
  border: 3px gold solid; 
  display: block;
  background-color:black;
  position: relative;
  margin-left: 68vh;
  width: 53vh;
  padding: 15px;
  flex-direction: row;
  color: white;
}

.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color:black;
  font-weight: bold;

}

.business-card {
  border: 4px solid gold;
  box-shadow: 15px 10px 15px black;
  width: 90%;
  height: 80vh;
  border-radius: 6px;
  background-size: cover;
  background-color: black;
  padding: 1.5vh;
  color: white;
}

img {
  height: 60vh ;
  width: 55vh;
  margin: 5px;
  margin-top: 10px;
  border-radius: 12px;
}

.container-container {
  display: grid;
  color:white;
  font-weight: bold;
}

.Detailcard > img {
  height: 75vh ;
  width: 85vh;
  margin: 5px;
  margin-top: 10px;
  border-radius: 12px;
}

.CouponForm{
  display: grid;
  grid-template-columns: 1fr ;
  color: white;
  padding: 3vh;
  text-align: left;
  font-size: bold;
  margin: 3vh;

}