#root {
  max-width: 1280px; 
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(90, 99, 107);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

Nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.63);
  height: 3em;
  font-weight: bold;
  font-size: 3vh;
}

header{
  display: flex;
  background-color: rgb(177, 166, 166);
}

nav a {
  margin: 0 1em;
  color: white
}

.welcome-signin{
   display: flex;
   height: 50vh;
   width: 100%;
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr;
   
  }

.image {
  height: 53vh ;
  width: 96vh;
}

.image2 {
    height: 53vh;
    width: 97vh;
    margin-left: 50vh;
}

.space {
  display: flex;
  background-color: gold;
  height: 6vh;
  margin-left: 0.25vh;
  
}

.Button{
display: grid;
grid-template-columns: 1fr 1fr;

}

.button {
  display: flex;
  position: relative;
  margin-left: 45vh;
  border: solid rgba(128, 0, 128, 0.603) 3.5px;
  border-radius: 3px;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: 2.5vh;
  margin-top: 16vh;
 
}

.buttonCss{
  color: white;
  font-weight: bold;

}

.style {
  height: 30vh;
  display: flex;
  background-color: rgb(177, 166, 166);
  width: 140vh;
  position: relative;
  margin-top: 6.5vh;
  margin-left: 28vh;

}

.style1 {
  height: 27.5vh;
  display: flex;
  background-color: black;
  width: 100%;
  position: absolute;
  margin-top: 53vh;
}

.cateButton{
  position: absolute;
  border-radius: 3px;
  background-color: black;
  font-weight: bold;
  color: white;
  height: 15vh;
  width: 20vh;
  display: grid;
}

.cateButton2{
  position: absolute;
  border-radius: 3px;
  background-color: black;
  font-weight: bold;
  color: white;
  height: 30vh;
  width: 20vh;
  display: grid;
  margin-left: 68vh;

}

.cateButton3{
  position: absolute;
  border-radius: 3px;
  background-color: black;
  font-weight: bold;
  color: white;
  height: 30vh;
  width: 20vh;
  display: grid;
  margin-left: 135vh;

}

 h2 {
  font-size: 45px;
  text-align: center;
  border: 3px rgb(66, 66, 62) solid;
  border-radius: 10px; 
  display: block;
  background-color:rgb(129, 130, 138);
  position: relative;
  margin-left: 68vh;
  width: 53vh;
  padding: 15px;
  flex-direction: row;
  color: white;
}

.container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color:black;
  font-weight: bold;

}

.business-card {
  border: 4px solid rgb(63, 62, 62);
  box-shadow: 15px 10px 15px rgb(65, 45, 45);
  width: 90%;
  height: 80vh;
  border-radius: 6px;
  background-size: cover;
  background-color: rgb(177, 166, 166);
  padding: 1.5vh;
  color: rgb(80, 76, 76);
}

img {
  height: 60vh ;
  width: 55vh;
  margin: 5px;
  margin-top: 10px;
  border-radius: 12px;
}

.container-container {
  display: grid;
  color:white;
  font-weight: bold;
}

.Detailcard > img {
  height: 75vh ;
  width: 85vh;
  margin: 5px;
  margin-top: 10px;
  border-radius: 12px;
}

.CouponForm{
  display: grid;
  grid-template-columns: 1fr ;
  color: white;
  padding: 3vh;
  text-align: left;
  font-size: bold;
  margin: 3vh;

}

.BusinessForm{
  display: grid;
  grid-template-columns: 1fr ;
  color: white;
  padding: 3vh;
  text-align: left;
  font-size: bold;
  margin: 3vh;
}

.Review-container{
  width: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 32vh;
}

.Reviewcard{
  color: white;
  display: grid;
  grid-template-columns:1fr 1fr ;
  background-color: rgb(177, 166, 166);
  color: rgb(80, 76, 76);
  border: solid 3px rgb(56, 56, 52);
}

.Reviewimg {
  height:35vh ;
  width: 35vh;
  margin: 12px;
  margin-top: 10px;
  border-radius: 12px;
}

